*{
	padding:0px;
	margin:0px;
}
html{
	font-family: 'Roboto', sans-serif;
}
body{
}
div{
	
}

input { border:1px solid #ccc; }

ul{
	display:inline;
	list-style-type: none;
}

h1{
	display:inline;
}

.main{
}
.categoryListItem{
	display:inline;
	margin:5px;
	color:rgba(255,23,150,1.0);
	cursor:pointer;
}

.categoryListItem:hover{
	opacity:.5;
}

.categoryListFunction{
	color:#fff;
	opacity:.6;
}

.categoryListItemCreate{
	display:inline;
}

.categoryList:before{content:'[';}
.categoryList:after{content:']';}


.categoryCreateForm{
	display:inline;
}

.categoryCreateInput{
	margin:5px;
	margin-bottom:4px;	
	background:none;
	font-family:inherit;
	font-size:inherit;
	color:rgba(255,23,150,1.0);
	border:none;
	border-bottom: 1px solid rgba(255,23,150,.5);
}

.breadItem{
	color:#6cf;
	cursor:pointer;
}

.breadItem:hover{
	opacity:.5;
}

.head{
	background: #324;
	color:rgba(255,255,255,.25);
	padding:10px;
}

.cat{
	padding:5px;
	margin-left:10px;
}

.content{
	padding:10px;
}
